*, *::before, *::after {
  box-sizing: border-box;
}

body,
#btn-search,
.btn-add,
#btn-watchlist {
  color: white;
}

body,
h1,
#idle-text {
  margin: 0;
}

body,
.btn-add,
#btn-watchlist {
  padding: 0;
}

body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
}

a,
.rating-container,
.wishlist-container {
  display: inline;
}

a {
  text-decoration: none;
}

header {
  background-image: url('/images/cover.png');
  background-size: cover;
  padding: 5.5em 0;
}

#header-text {
  justify-content: space-around;
}

h1 {
  font-size: 2.67rem;
  font-weight: 800;
}

#header-text,
#search-bar,
.movie {
  display: flex;
}

#search-bar,
.movie,
#header-text {
  align-items: center;
}

#search-bar,
.movie,
hr {
  margin: 0 auto;
}

#search-bar,
#search-input {
  background-color: #2E2E2F;
}

#search-bar,
#search-icon,
.rating,
.add-icon {
  position: relative;
}

#search-bar {
  justify-content: space-between;
  width: 80%;
  border-radius: 6px;
  top: -20px;
}

#search-bar-left-side {
  width: 100%;
}

#search-icon,
.add-icon {
  width: 16px;
}

#search-icon,
.add-icon {
  top: 3px;
}

#search-icon {
  margin-left: 1em;
}

#search-input,
#btn-search {
  font-family: inherit;
}

#search-input,
#btn-search,
hr:last-of-type,
.btn-add,
#btn-watchlist {
  border: none;
}

#search-input,
#btn-search,
#btn-watchlist,
.plot,
#add-movies-text {
  font-size: .875rem;
}

#search-input,
#search-input::placeholder,
.plot {
  color: #A5A5A5;
}

#search-input {
  padding: 1em;
  width: 80%;
}

#search-input,
#btn-search,
title {
  font-weight: 500;
}

#search-input:focus {
  outline: none;
}

#btn-search,
.wishlist-container,
.btn-add,
#btn-watchlist,
.add-icon {
  cursor: pointer;
}

#btn-search {
  border-radius: 0 6px 6px 0;
  background-color: #4B4B4B;
  padding: 1em 2.5em;
}

#idle-container {
  display: block;
  text-align: center;
  padding: 25vh 0;
}

#idle-image {
  width: 70px;
}

.title,
#idle-text {
  font-size: 1.125rem;
}

#btn-watchlist,
#idle-text,
#add-movies-text {
  font-weight: bold;
}

#idle-text {
  color: #2E2E2F;
  margin-top: .4em;
}

.movie {
  flex-direction: row;
  gap: 1em;
  padding: 2em;
}

.movie:first-of-type,
#add-movies-text {
  margin-top: 1.5em;
}

hr {
  border: 1.5px solid #2C2C2C;
  width: calc(100% - 4em);
}

.movie-poster {
  width: 100px;
}

.movie-subheading {
  margin-top: .7em;
}

.rating-container {
  margin-left: .4em;
}

.star-icon {
  width: 15px;
}

.rating, 
.runtime, 
.genre {
  font-size: .75rem;
}

.rating {
  bottom: 2px;
}

.genre,
.wishlist-container {
  margin-left: 1.6em;
}

.btn-add, #btn-watchlist {
  background: none;
}

.btn-add {
  margin-left: .2em;
}

@media (max-width: 530px) {
  hr {
    width: calc(100% - 2em);
  }
  
  h1 {
    font-size: 2rem;
  }

  .movie {
    padding: 1em;
  }

  .movie:first-of-type {
    margin-top: 0;
  }

  .movie-heading {
    text-align: center;
  }
   
  .movie-heading,
  .movie-subheading,
  .wishlist-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .title {
    font-size: 1rem;
  }

  .genre,
  .runtime,
  .wishlist-container,
  .btn-add {
    margin-left: 0;
  }

  .genre,
  .runtime,
  .btn-add {
    font-size: .6rem;
  }
  
  .add-icon {
    top: 0px;
    left: -1px;
    margin-right: .2rem;
  }
}

@media (min-width: 1000px) {
  hr {
    width: 65%;
  }
  
  #header-text {
    width: 80%;
    margin: 0 auto;
  }
  
  #search-bar {
    width: 50%;
  }

  .movie {
    width: 70%;
  }
}

@media (min-width: 1500px) {
  hr {
    width: 57%;
  }
  
  .movie {
    width: 60%;
  }
}